# Application
PORT=6969
GRPC_PORT=50052
APP_ENV=development

# PostgreSQL (Neon — see README for setup)
DATABASE_URL=

# Must match the same JWT_SECRET used in Auth Service
JWT_SECRET=

# gRPC addresses for inter-service communication
AUTH_SERVICE_ADDR=auth-service:50051
PRODUCT_SERVICE_ADDR=product-service:50053
